services:
  postgres:
    image: postgres:16
    container_name: rentio-postgres
    environment:
      POSTGRES_DB: \
      POSTGRES_USER: \
      POSTGRES_PASSWORD: \
    ports:
      - "5432:5432"
    volumes:
      - rentio_pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  mqtt:
    image: eclipse-mosquitto:2
    container_name: rentio-mqtt
    ports:
      - "\:1883"
    restart: unless-stopped

volumes:
  rentio_pgdata:
